repos:
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        additional_dependencies: []

  - repo: https://github.com/PyCQA/isort
    rev: 5.14.0
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: python
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        stages: [commit]
